/**
 TODO(you): Add CSS for the list that you create yourself!
*/
header{
    background-image: url(../images/cat3.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
}
#header-content{
    color:white;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    padding-top:420px;
    margin-left:30px;
    font-weight: bold;
}
.header-word{
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}

section{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
img{
    width:400px;
    padding:30px;
    height:360px;
    width:460px;
}
#content{
    font-family: Microsoft JhengHei;
    font-size: 24px;
    width:920px;
    margin:auto;
    line-height: 30px;
    
}
li{
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
}
span{
    font-weight: bold;
    font-size: 36px;
    font-family: Microsoft JhengHei;
    color: darkolivegreen;
    display: flex;
    justify-content: center;
}